*

!README.md
!.gitignore

!mimeapps.list

!yay/
!yay/**

!.icons/
!.icons/**

!zsh
!zsh/**

!windows/
!windows/**

!acpi/
!acpi/**

!tlp.conf

!hypr-packages

!gtk-theme

!packages

!ags/
!ags/**

!gtk-3.0/
!gtk-3.0/**

!hypr/
!hypr/**

!xremap/
!xremap/**

!wallpapers/
!wallpapers/**

!.local/
!.local/**

!.icons/
!.icons/**

!starship.toml

!xfce4/
!xfce4/**

!systemd/
!systemd/**

!qt6ct/
!qt6ct/**

!nvim/
!nvim/**

!neofetch/
!neofetch/**

!alacritty
!alacritty/**
