.bar {
  background-color: transparent;
  padding: 1px;
}
.bar .launcher .module {
  border-radius: 7px;
  background-image: url("/home/biskyy/.config/ags/src/assets/ags_bar_4k4_dimmer.png");
  background-blend-mode: overlay;
  background-size: 1920px 108px;
  background-repeat: no-repeat;
  margin: 10px 8px;
  padding: 4px 14px;
  box-shadow: 0px 0px 5px #0a0f0d, 0px 0px 5px #0a0f0d;
}
.bar .launcher .module button {
  padding: 1px 0;
}
.bar .launcher:not(.workspaces):not(.systray):not(.info):not(.power):not(.audio):hover .module {
  background-color: rgba(10, 15, 13, 0.5);
}
.bar .launcher:not(.workspaces):not(.systray):not(.info):not(.power):not(.audio):hover .module label {
  color: #5bd6a5;
}
.bar .workspaces .module {
  border-radius: 7px;
  background-image: url("/home/biskyy/.config/ags/src/assets/ags_bar_4k4_dimmer.png");
  background-blend-mode: overlay;
  background-size: 1920px 108px;
  background-repeat: no-repeat;
  margin: 10px 8px;
  padding: 4px 14px;
  box-shadow: 0px 0px 5px #0a0f0d, 0px 0px 5px #0a0f0d;
}
.bar .workspaces .module button {
  padding: 1px 0;
}
.bar .workspaces:not(.workspaces):not(.systray):not(.info):not(.power):not(.audio):hover .module {
  background-color: rgba(10, 15, 13, 0.5);
}
.bar .workspaces:not(.workspaces):not(.systray):not(.info):not(.power):not(.audio):hover .module label {
  color: #5bd6a5;
}
.bar .sysinfo .module {
  border-radius: 7px;
  background-image: url("/home/biskyy/.config/ags/src/assets/ags_bar_4k4_dimmer.png");
  background-blend-mode: overlay;
  background-size: 1920px 108px;
  background-repeat: no-repeat;
  margin: 10px 8px;
  padding: 4px 14px;
  box-shadow: 0px 0px 5px #0a0f0d, 0px 0px 5px #0a0f0d;
}
.bar .sysinfo .module button {
  padding: 1px 0;
}
.bar .sysinfo:not(.workspaces):not(.systray):not(.info):not(.power):not(.audio):hover .module {
  background-color: rgba(10, 15, 13, 0.5);
}
.bar .sysinfo:not(.workspaces):not(.systray):not(.info):not(.power):not(.audio):hover .module label {
  color: #5bd6a5;
}
.bar .systray .module {
  border-radius: 7px;
  background-image: url("/home/biskyy/.config/ags/src/assets/ags_bar_4k4_dimmer.png");
  background-blend-mode: overlay;
  background-size: 1920px 108px;
  background-repeat: no-repeat;
  margin: 10px 8px;
  padding: 4px 14px;
  box-shadow: 0px 0px 5px #0a0f0d, 0px 0px 5px #0a0f0d;
}
.bar .systray .module button {
  padding: 1px 0;
}
.bar .systray:not(.workspaces):not(.systray):not(.info):not(.power):not(.audio):hover .module {
  background-color: rgba(10, 15, 13, 0.5);
}
.bar .systray:not(.workspaces):not(.systray):not(.info):not(.power):not(.audio):hover .module label {
  color: #5bd6a5;
}
.bar .player .module {
  border-radius: 7px;
  background-image: url("/home/biskyy/.config/ags/src/assets/ags_bar_4k4_dimmer.png");
  background-blend-mode: overlay;
  background-size: 1920px 108px;
  background-repeat: no-repeat;
  margin: 10px 8px;
  padding: 4px 14px;
  box-shadow: 0px 0px 5px #0a0f0d, 0px 0px 5px #0a0f0d;
}
.bar .player .module button {
  padding: 1px 0;
}
.bar .player:not(.workspaces):not(.systray):not(.info):not(.power):not(.audio):hover .module {
  background-color: rgba(10, 15, 13, 0.5);
}
.bar .player:not(.workspaces):not(.systray):not(.info):not(.power):not(.audio):hover .module label {
  color: #5bd6a5;
}
.bar .info .module {
  border-radius: 7px;
  background-image: url("/home/biskyy/.config/ags/src/assets/ags_bar_4k4_dimmer.png");
  background-blend-mode: overlay;
  background-size: 1920px 108px;
  background-repeat: no-repeat;
  margin: 10px 8px;
  padding: 4px 14px;
  box-shadow: 0px 0px 5px #0a0f0d, 0px 0px 5px #0a0f0d;
}
.bar .info .module button {
  padding: 1px 0;
}
.bar .info:not(.workspaces):not(.systray):not(.info):not(.power):not(.audio):hover .module {
  background-color: rgba(10, 15, 13, 0.5);
}
.bar .info:not(.workspaces):not(.systray):not(.info):not(.power):not(.audio):hover .module label {
  color: #5bd6a5;
}
.bar .audio .module {
  border-radius: 7px;
  background-image: url("/home/biskyy/.config/ags/src/assets/ags_bar_4k4_dimmer.png");
  background-blend-mode: overlay;
  background-size: 1920px 108px;
  background-repeat: no-repeat;
  margin: 10px 8px;
  padding: 4px 14px;
  box-shadow: 0px 0px 5px #0a0f0d, 0px 0px 5px #0a0f0d;
}
.bar .audio .module button {
  padding: 1px 0;
}
.bar .audio:not(.workspaces):not(.systray):not(.info):not(.power):not(.audio):hover .module {
  background-color: rgba(10, 15, 13, 0.5);
}
.bar .audio:not(.workspaces):not(.systray):not(.info):not(.power):not(.audio):hover .module label {
  color: #5bd6a5;
}
.bar .power .module {
  border-radius: 7px;
  background-image: url("/home/biskyy/.config/ags/src/assets/ags_bar_4k4_dimmer.png");
  background-blend-mode: overlay;
  background-size: 1920px 108px;
  background-repeat: no-repeat;
  margin: 10px 8px;
  padding: 4px 14px;
  box-shadow: 0px 0px 5px #0a0f0d, 0px 0px 5px #0a0f0d;
}
.bar .power .module button {
  padding: 1px 0;
}
.bar .power:not(.workspaces):not(.systray):not(.info):not(.power):not(.audio):hover .module {
  background-color: rgba(10, 15, 13, 0.5);
}
.bar .power:not(.workspaces):not(.systray):not(.info):not(.power):not(.audio):hover .module label {
  color: #5bd6a5;
}
.bar .launcher .module {
  background-position: 5%;
}
.bar .workspaces .module {
  background-position: 10%;
}
.bar .workspaces .module > button {
  min-width: 26px;
  border-radius: 20%;
}
.bar .workspaces .module > .active {
  background-color: #0a0f0d;
  box-shadow: 0px 0px 3px #0a0f0d;
}
.bar .workspaces .module > .active label {
  color: #5bd6a5;
}
.bar .workspaces .module > .inactive {
  background-color: transparent;
  box-shadow: none;
}
.bar .workspaces .module > .inactive label {
  color: #e8f8f2;
}
.bar .workspaces .module > .inactive:hover {
  background-color: #0a0f0d;
  box-shadow: 0px 0px 3px #0a0f0d;
}
.bar .workspaces .module > .inactive:hover label {
  color: rgba(91, 214, 165, 0.6);
}
.bar .sysinfo .module {
  background-position: 25%;
}
.bar .systray .module {
  background-position: 30%;
}
.bar .systray button {
  min-width: 26px;
  border-radius: 5px;
}
.bar .systray button:hover {
  background-color: #0a0f0d;
  box-shadow: 0px 0px 3px #0a0f0d;
}
.bar .player .module {
  background-position: center;
}
.bar .audio .module {
  background-position: 88%;
}
.bar .audio .module button {
  padding: 0px 6px;
  border-radius: 5px;
}
.bar .audio .module button:hover {
  background-color: #0a0f0d;
  box-shadow: 0 0 9px #0a0f0d;
}
.bar .audio .module button:hover label:not(.danger) {
  color: #5bd6a5;
}
.bar .info .module {
  background-position: 90%;
}
.bar .info .module button {
  padding: 0px 6px;
  border-radius: 5px;
}
.bar .info .module button:hover {
  background-color: #0a0f0d;
  box-shadow: 0 0 5px #0a0f0d;
}
.bar .info .module button:hover label {
  color: #5bd6a5;
}
.bar .info .module button.active {
  background-color: #0a0f0d;
  box-shadow: 0 0 5px #0a0f0d;
}
.bar .info .module button.active label {
  color: #5bd6a5;
}
.bar .info .module button.inactive:hover label {
  color: rgba(91, 214, 165, 0.6);
}
.bar .power.active .module {
  background-color: rgba(10, 15, 13, 0.5);
}
.bar .power.active .module label {
  color: #5bd6a5;
}
.bar .power.inactive:hover .module {
  background-color: rgba(10, 15, 13, 0.5);
}
.bar .power.inactive:hover .module label {
  color: #5bd6a5;
}
.bar .power .module {
  background-position: 95%;
}

menu {
  background: url("/home/biskyy/.config/ags/src/assets/ags_photo.png");
  background-size: 250% 250%;
  background-position: left;
  padding: 10px;
  border-radius: 7px;
}
menu menuitem {
  margin: 2px 0px;
  border-radius: 5px;
  background-color: transparent;
}
menu menuitem:hover {
  background-color: #0a0f0d;
}
menu menuitem:hover > label {
  color: #5bd6a5;
}
menu menuitem label {
  padding: 2px 8px;
}

menubar menuitem {
  background-color: blue;
  padding: 4px;
}

@keyframes flyin-unsgby9 {
  0% {
    margin-right: -160px;
  }
  50% {
    margin-right: 0px;
  }
  75% {
    margin-right: 16px;
  }
  100% {
    margin-right: 0px;
  }
}
@keyframes fade-unsgby9 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.powermenu.panel.create > .content {
  animation: flyin-unsgby9 500ms, fade-unsgby9 500ms;
}
.powermenu .content {
  padding: 1px;
  min-width: 300px;
}
.powermenu .content .power-button .power-icon {
  background-image: url("/home/biskyy/.config/ags/src/assets/ags_photo_360p.jpg");
  background-size: 250% 250%;
  background-position: 25% 25%;
  background-blend-mode: overlay;
  padding: 25px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #0a0f0d, 0px 0px 5px #0a0f0d;
}
.powermenu .content .power-button .power-icon label {
  font-size: 3rem;
  min-width: 4rem;
  min-height: 4rem;
}
.powermenu .content .power-button .power-icon:hover {
  background-color: rgba(10, 15, 13, 0.5);
}
.powermenu .content .power-button .power-icon:hover label {
  color: #5bd6a5;
}
.powermenu .content .power-button .power-icon:active label {
  color: #e11d48;
}
.powermenu .content .power-button .selected label {
  color: #e11d48;
}
.powermenu .content .power-button .selected:hover label, .powermenu .content .power-button .selected:active label {
  color: #e11d48;
}
.powermenu .content .power-button:hover .transition-text {
  color: #e8f8f2;
  text-shadow: 0px 0px 10px #0a0f0d, 0px 0px 5px #0a0f0d;
}
@keyframes flyin-unsgby9 {
  0% {
    margin-right: -80px;
  }
  50% {
    margin-right: 0px;
  }
  75% {
    margin-right: 8px;
  }
  100% {
    margin-right: 0px;
  }
}
.powermenu .content .power-button:hover .transition-text {
  animation: flyin-unsgby9 500ms;
}
.powermenu .content .power-button .transition-text {
  color: transparent;
  font-size: 20px;
  min-width: 150px;
}

.glance > .content {
  min-width: 500px;
  min-height: 50px;
  padding-top: 55px;
}
.glance > .content .pages .page {
  background-image: url("/home/biskyy/.config/ags/src/assets/ags_photo.png");
  background-size: 200% 200%;
  min-width: 400px;
  border-radius: 10px;
  padding: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.glance > .content .column {
  background-image: url("/home/biskyy/.config/ags/src/assets/ags_photo.png");
  background-size: 300% 300%;
  background-position: 25% 25%;
  border-radius: 10px;
  margin-right: 20px;
  padding: 10px;
}
.glance > .content .column button {
  padding: 10px;
  border-radius: 7px;
}
.glance > .content .column button:hover {
  background-color: rgba(10, 15, 13, 0.5);
  box-shadow: 0 0 5px #0a0f0d;
}
.glance > .content .column button.active {
  background-color: rgba(10, 15, 13, 0.75);
  box-shadow: 0 0 5px #0a0f0d;
}
.glance > .content .column button.active label {
  color: #5bd6a5;
}
.glance > .content .column button.inactive:hover {
  background-color: rgba(10, 15, 13, 0.75);
}
.glance > .content .column button.inactive:hover label {
  color: rgba(91, 214, 165, 0.6);
}
.glance > .content .column button label {
  font-size: 1.75rem;
  min-width: 2.25rem;
  min-height: 2.25rem;
}

.page.battery .power-modes .segmented-slider {
  min-height: 20px;
  border-radius: 7px;
  background-color: rgba(10, 15, 13, 0.5);
}
.page.battery .power-modes .segmented-slider button {
  border-radius: 7px;
}
.page.battery .power-modes .segmented-slider button.active {
  background-color: rgba(10, 15, 13, 0.5);
}
.page.battery .power-modes .segmented-slider button.active label {
  color: #5bd6a5;
}
.page.battery .power-modes .segmented-slider button:not(.active):hover {
  background-color: rgba(10, 15, 13, 0.5);
}
.page.battery .power-modes .segmented-slider button:not(.active):hover label {
  color: rgba(91, 214, 165, 0.6);
}
.page.battery .brightness contents {
  background-color: rgba(50.5, 114.5, 89, 0.5);
  border-radius: 5px;
}
.page.battery .brightness contents highlight {
  min-height: 9px;
  background-color: #5bd6a5;
  border-radius: 5px;
  min-width: 10px;
}

.page.time .clock {
  font-size: 3rem;
}
.page.time .date {
  font-size: 1.25rem;
}
.page.time calendar {
  color: #e8f8f2;
}
.page.time calendar:selected {
  color: #5bd6a5;
  font-weight: bolder;
}
.page.time calendar:indeterminate {
  color: #888888;
}

@keyframes flyin-unsgbz4 {
  0% {
    margin-top: -25px;
  }
  50% {
    margin-top: 55px;
  }
  75% {
    margin-top: 63px;
  }
  100% {
    margin-top: 55px;
  }
}
@keyframes fade-unsgbz4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.panel.audio.create > .content {
  animation: flyin-unsgbz4 500ms, fade-unsgbz4 500ms;
}
.panel.audio .content {
  min-width: 550px;
  min-height: 50px;
  margin-top: 55px;
  margin-right: 20px;
  background-image: url("/home/biskyy/.config/ags/src/assets/ags_photo.png");
  background-size: 200% 200%;
  background-position: 25% 25%;
  border-radius: 10px;
  padding: 20px;
}
.panel.audio .content .device {
  border-radius: 5px;
  padding: 8px 5px;
}
.panel.audio .content .device.active {
  background-color: rgba(10, 15, 13, 0.5);
  box-shadow: 0 0 5px #0a0f0d;
}
.panel.audio .content .device button {
  border-radius: 5px;
}
.panel.audio .content .device button.icon {
  min-width: 2rem;
}
.panel.audio .content .device button:not(.icon) {
  padding: 0 0.5rem;
}
.panel.audio .content .device button.active {
  background-color: rgba(10, 15, 13, 0.75);
  box-shadow: 0 0 5px #0a0f0d;
}
.panel.audio .content .device button.active label {
  color: #5bd6a5;
}
.panel.audio .content .device button:hover,
.panel.audio .content .device button .inactive:hover {
  background-color: rgba(10, 15, 13, 0.75);
  box-shadow: 0 0 5px #0a0f0d;
}
.panel.audio .content .device button:hover:not(.danger) > label,
.panel.audio .content .device button .inactive:hover:not(.danger) > label {
  color: #5bd6a5;
}
.panel.audio .content .device .slider > contents {
  background-color: rgba(50.5, 114.5, 89, 0.5);
  border-radius: 5px;
}
.panel.audio .content .device .slider > contents highlight {
  min-height: 9px;
  background-color: #5bd6a5;
  border-radius: 5px;
  min-width: 10px;
}

@keyframes flyin-unsgbzb {
  0% {
    margin-top: -80px;
  }
  50% {
    margin-top: 0px;
  }
  75% {
    margin-top: 8px;
  }
  100% {
    margin-top: 0px;
  }
}
@keyframes fade-unsgbzb {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.panel.create > .content {
  animation: flyin-unsgbzb 500ms, fade-unsgbzb 500ms;
}

.panel.destroy > .content {
  opacity: 0;
}

* {
  all: initial;
  transition: all 250ms ease-in-out;
  font-family: Liga SFMono Nerd Font Heavy, JetBrainsMono Nerd Font Propo;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
}

.icon {
  font-family: JetBrainsMono Nerd Font Propo;
}
.icon label {
  font-family: JetBrainsMono Nerd Font Propo;
}

.icon-pad-l {
  padding-left: 0.2rem;
}

.icon-pad-r {
  padding-right: 0.2rem;
}

.danger {
  color: #e11d48;
}
.danger label {
  color: #e11d48;
}

/*# sourceMappingURL=style.css.map */
